main {
  padding-top: 100px;
  height: 100vh;
  background-color: gainsboro;
}

.title {
  margin-top: 0px;
  color: white;
  text-align: center;
  font-size: 60px;
}

.facts {
  display: table;
  margin: 0 auto;
}

.facts li {
  margin-top: 15x;
  margin-bottom: 15px;
}

.facts li::marker {
  color: green;
}
